/* You can add global styles to this file, and also import other style files */
.fuente-principal{
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }