<div class="container animated fadeIn" > 
  <div class="card bg-light mt-4" >
    <div class="card-header m-0">Nueva pagina web</div>
    <div class="card-body">
      <div class="row" >
        <div class="col-md-6 col-12" >
          <div class="form-row">
              <div class="col">
                <label for="">Titulo</label><br>
                <input type="text" class="form-control" placeholder="Titulo">
              </div>
              <div class="col">
                <label for="">Titulo en el menu</label><br>
                <input type="text" class="form-control" placeholder="Titulo en el menu">
              </div>
            </div><br>
          <div class="form-group">
            <label for="inputAddress">Descripcion</label>
            <textarea class="form-control" name="" id="" cols="30" rows="2"></textarea>
          </div><br>
        </div>
        <div class="col-md-6 col-12" >
          <div class="col">
            <label for="">Url</label><br>
            <input type="text" class="form-control" placeholder="Url">
          </div><br>
          <div class="col">
            <label for="">Incluir las siguientes opciones </label><br>
            
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Encabezado</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck2">
              <label class="custom-control-label" for="customCheck2">Pie de pagina</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck3">
              <label class="custom-control-label" for="customCheck3">Menu</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck4">
              <label class="custom-control-label" for="customCheck4">Breadcrumb</label>
            </div>
            
          </div>
        </div>
      </div>
        
        <a routerLink="/index/crearSitioShourcouts" class="btn btn-sm btn-primary mr-2">Siguiente</a>
        <button type="button" class="btn btn-sm btn-secondary">Cancelar</button>

    </div>
  </div>



</div>