<section class="bg-light footer mt-5">
    <div class="container" >
        <div class="row" >
            <div class="col-lg-4 col-md-4 col-12" >
                <h5 class="titulo" >Sobre Nosotros</h5>
                <ul class="list-group list-group-flush bg-dark">
                    <li class="text-whit list-group-item"> <i class="fas fa-envelope-open-text"></i> bcalixvelasquez@gmail.com</li>
                    <li class="text-whit list-group-item"> <i class="fas fa-globe"></i> misitio.com</li>
                    <li class="text-whit list-group-item"> <i class="fas fa-phone"></i> (+504) 33457689</li>
                    <li class="text-whit list-group-item"> <i class="fas fa-map-marker-alt"></i> Francisco morazan</li>
                    <li class="text-whit list-group-item"> <i class="fas fa-phone-square-alt"></i> </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-12" >
                <h5 class="titulo" >Redes Sociales</h5>
                <ul class="list-group list-group-flush bg-dark">
                    <li class="text-whit list-group-item"> <i class="fab fa-facebook-square"></i> Facebook</li>
                    <li class="text-whit list-group-item"> <i class="fab fa-instagram"></i> Instagram</li>
                    <li class="text-whit list-group-item"> <i class="fab fa-youtube"></i> Youtube</li>
                    <li class="text-whit list-group-item"> <i class="fab fa-pinterest"></i> Pinterest</li>
                    <li class="text-whit list-group-item"> </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-12" >
                <img class="img-fluid logo" src="../../../assets/logo.png" alt="">
            </div>
        </div>

    </div>
</section>
