<div class="mt-4 mb-4" >
    <h3 class="title text-center" >Galeria </h3>
    <div class="row pt-2 pb-2 " >
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-3" >
            <img class="img-fluid rounded" src="../../../assets/img/header.jpg" >
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-3" >
            <img class="img-fluid rounded" src="../../../assets/img/panel.jpg" >
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-3" >
            <img class="img-fluid rounded" src="../../../assets/img/web-site.png" >
        </div>
    </div>
</div>