<div class="container animated fadeIn">
  <div class="card bg-light mt-4">
    <div class="card-header m-0">Mis Blogs</div>
    <div class="card-body">
      <div class="table-responsive">
        <h3 class="title text-primary text-center">Mis Blogs</h3><br>
        <table class="table table-borderless">
          <thead class="text-primary text-center">
            <tr>
              <th scope="col">Numero</th>
              <th scope="col">Titulo</th>
              <th scope="col">Categoria</th>
              <th scope="col">Editar</th>
              <th scope="col">Visualizar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let blog of blogs" class="text-center">
              <td>1</td>
              <td>{{ blog.nombre }}</td>
              <td>{{ blog.categoria }}</td>
              <td> <a target="_blank" class="btn btn-sm btn-warning" [routerLink]="[ '/index/crearBlogShourcouts/', blog._id , 'editar' ]">Editar</a> </td>
              <td> <a target="_blank" class="btn btn-sm btn-success" [routerLink]="[ '/plantillaBlogs', blog._id , 'visualizar' ]">Visualizar</a> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>