<div class="container-fluid mt-3" >
    <div class="card bg-light mb-3" >
        <div class="card-header m-0">Nueva paginas web</div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12 " style="background-color: #fff;;" >
              <form action="" method="post" id="frm-test">
                <div class="form-group">
                  <textarea rows="7"  class="form-control" style="color: white;  background-color: #fff;" id="txt-content" name="txt-content"></textarea>
                </div>
                <input type="button" class="btn btn-primary" id="btn-enviar" value="Mostrar Resultado">
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div id="texto" style="border:1px solid #000; padding:10px;margin-top:20px;">
                
              </div>
            </div>
          </div>
            
        </div>
      </div>
</div>


