
<div class="bg-light main">
    <div class="container pt-5 pb-5" >
        <div class="row mt-5">
            <div class=" text-center col-lg-12 col-md-12 col-12 mt-5">
                <img class="img-fluid" src="../../assets/img/no-result-found.png" alt="no found"><br><br>
            </div>
            <div  class=" text-center col-lg-12 col-md-12 col-12">
                <a class="btn btn-primary" [routerLink]="[ '/' ]"> <i class="fas fa-chevron-left"></i> Home</a>
            </div>
        </div>
    </div>
</div>