
<div class="container-fluid mt-3 animated fadeIn" >
  <div class="card">
      <div class="card-header">
        Subir archivo
      </div>
      <div class="card-body">
        <div class="custom-file">
          <input (change)="cargarImagen($event)" type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Choose file</label><br><br>
          <div *ngIf="seGuardo" class="alert alert-primary" role="alert">
            {{ mensaje.mensaje }}
          </div>
        </div>
      </div>
    </div>
</div>

