.img-perfil{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 4px;
    margin-right: 4px;    
  }
  
.active{
  color: white;
  text-transform: unset;
  font-weight: bold;
  text-transform: uppercase;

}
