<!--
<nav class="navbar navbar-expand-lg navbar-dark p-3 bg-primary">
  <a class="navbar-brand" routerLink="/index/sitios">NombreSitio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item">
        <a class="nav-link text-white " routerLinkActive="active" routerLink="/index/sitios">Sitios web <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLinkActive="active" routerLink="/index/blogs">Blogs <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="autenticacion" class="nav-item">
        <a class="nav-link text-white" routerLinkActive="active" routerLink="/index/crearSitio">Crear Sitio<span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="autenticacion" class="nav-item">
        <a class="nav-link text-white" routerLinkActive="active" routerLink="/index/crearBlog">Crear blog<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li *ngIf="!autenticacion" class="nav-item" >
        <a class="nav-link text-white" routerLink="/login">Iniciar Seccion</a>
      </li>
      <li *ngIf="autenticacion"  class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="img-perfil img-fluid" src="../../../../assets/img/user-perfil.jpg" alt=""> Leonard-Calix
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/index/perfil"> <i class="fas fa-user-cog"></i> Perfil  </a>
          <a class="dropdown-item" routerLink="/login"><i class="fas fa-sign-out-alt"></i> Cerrar sesion</a>
          <a class="dropdown-item" routerLink="/index/misSitios"> <i class="fas fa-user-cog"></i> Mis Sitios  </a>
          <a class="dropdown-item" routerLink="/index/misBlogs"><i class="fas fa-sign-out-alt"></i> Mis Blog</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
-->

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3 animated fadeIn bg-secondary mb-5" id="mainNav">
  <div class="container">
      <a class="navbar-brand js-scroll-trigger" routerLink="/">  <i class="fab fa-1x fa-accusoft text-white"></i> Start Bootstrap</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger text-white" routerLink="/index/sitios">Sitios web</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger text-white" routerLink="/index/blogs">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger text-white" routerLink="/index/crearSitio">Crear sitio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger text-white" routerLink="/index/crearBlog">Crear blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger text-white" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br><br><br>