
<div class="container mt-3 animated fadeIn" >
    <div class="row">
        <div class="col-md-5 col-12 m-2" >
            <a href="https://sisterlystyle.com/" target="_blank">
                <div class="card bg-dark text-white">
                    <img class="card-img img-fluid" src="../../../assets/img/blog/blog-1.png" alt="Card image">
                    <div class="card-img-overlay">
                      <h5 class="card-title"> <b>Facebook</b> </h5>
                      <p class="card-text"><b>Leonard-calix</b></p>
                    </div>
                </div>
            </a>
        </div>
    
        <div class="col-md-5 col-12 m-2" >
            <a href="http://www.mujeresconsejeras.com/" target="_blank">
                <div class="card bg-dark text-white">
                    <img class="card-img img-fluid" src="../../../assets/img/blog/blog-2.png" alt="Card image">
                    <div class="card-img-overlay">
                      <h5 class="card-title"> <b>Facebook</b> </h5>
                      <p class="card-text"><b>Leonard-calix</b></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
</div>