

<div class="row mt-5">
    <div class="col-md-6 col-12" >
        <a href="">
            <div class="card bg-dark text-white">
                <img class="card-img img-fluid" src="../../../assets/img/blog/blog-1.png" alt="Card image">
                <div class="card-img-overlay">
                  <h5 class="card-title"> <b>Facebook</b> </h5>
                  <p class="card-text"><b>Leonard-calix</b></p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-6 col-12" >
        <a href="">
            <div class="card bg-dark text-white">
                <img class="card-img img-fluid" src="../../../assets/img/blog/blog-1.png" alt="Card image">
                <div class="card-img-overlay">
                  <h5 class="card-title"> <b>Facebook</b> </h5>
                  <p class="card-text"><b>Leonard-calix</b></p>
                </div>
            </div>
        </a>
    </div>
</div>

