<div class="container mt-3 animated fadeIn" > 
    <div class="row">
        <div class="col-md-4">
          <div class="card card-user">
            <div class="card-body">
              <div class="author">
                  <img class="img-fluid" src="../../../../assets/img/user.png" alt="..."><br><br>
                  <h5 class="title text-center ">  </h5>
              </div>
            </div>
            <div class="card-footer">
              <div class="button-container">
                <div class="row">
                  <div class="col-lg-3 col-12 col-md-12 col-12 ml-auto">
                    <h5>12
                      <br>
                      <small>Sitios</small>
                    </h5>
                  </div>
                  <div class="col-lg-3 col-12 col-md-12 col-12 ml-auto mr-auto">
                    <h5>5
                      <br>
                      <small>Blogs</small>
                    </h5>
                  </div>
                  <div class="col-lg-4 col-md-12 col-12 mr-auto">
                    <h5>15
                      <br>
                      <small>Comentarios</small>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-md-8">
          <div class="card card-user">
            <div class="card-header">
              <h5 class="card-title">Editar Perfil</h5>
            </div>
            <div class="card-body">
              <div>
                <div class="row">
                  <div class="col-md-6 px-1">
                    <div class="form-group">
                      <label>Nombre</label>
                      <input type="text" class="form-control" [(ngModel)]="usuario.nombre" placeholder="Nombre" >
                    </div>
                  </div>
                  <div class="col-md-6 pl-1">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Apellido</label>
                      <input type="email" class="form-control" [(ngModel)]="usuario.apellido" placeholder="Apellido">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 pl-1">
                    <div class="form-group">
                      <label>Correo</label>
                      <input type="text" class="form-control" [(ngModel)]="usuario.correo" disabled="" placeholder="Company" >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Direccion</label>
                      <input type="text" class="form-control" [(ngModel)]="usuario.direccion" placeholder="Home Address" >
                    </div>
                  </div>
                </div>
                <input type="hidden" value="" >
                <div class="row">
                  <div class="update ml-auto mr-auto">
                    <button type="button" class="btn btn-sm btn-success btn-round mr-5">Actualizar Perfil</button>
                    <button type="button" class="btn btn-sm btn-danger btn-round">Cerrar cuenta</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
  
