<app-headers *ngIf="esHeaders" [imagen]="shortcutsHeaders" [sitio]="idSitio" ></app-headers>

<div class="bg-light" >
    <section  *ngIf="sitio.encabezado" class="nav mb-3">
        <app-nav-bar *ngIf="sitio.encabezado" [sitio]="sitio"></app-nav-bar>
    </section>
    <br>

    <div class="bg-light" >
        <main class="container mt-3 mb-4 pt-5" >

            <app-imagen *ngIf="esImagen" [imagen]="imagen" ></app-imagen>          

            <app-login2 *ngIf="esLogin" ></app-login2>   

            <app-enlace *ngIf="esEnlace" [enlace]="shortcutsEnlace" ></app-enlace>
    
            <app-galeria *ngIf="esGaleria" [galeria]="shortcutsGaleria.imagenes" ></app-galeria>
            
        </main>
    </div>
    
    <section class="menu mt-2 mb-2">
        <app-pie-pagina *ngIf="sitio.footer" [sitio]="sitio"></app-pie-pagina>
    </section>

</div>


