<div class="container-fluid mt-3 animated fadeIn" > 
  <div class="card">
    <div class="card-header">Comentarios</div>
    <div class="card-body">
      <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>
      <table class="table table-sm mt-3">
        <thead>
          <tr>
            <th scope="col card-title">#</th>
            <th scope="col card-title">Comentario</th>
            <th scope="col card-title">Usuario</th>
            <th scope="col card-title">Sitios</th>
            <th scope="col card-title">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Muy exelente sitio</td>
            <td>Leonard-94</td>
            <td>Instagran</td>
            <td>
              <button class="btn btn-danger btn-sm" > <i class="fas fa-trash"></i> Eliminar </button>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>




















