<div class="container animated fadeIn" > 
    <div class="card bg-light mt-4" >
      <div class="card-header m-0">Mis sitios</div>
      <div class="card-body">
        
        <table class="table table-sm">
          <thead class="bg-dark rounded">
            <tr>
              <th class="text-white" scope="col">#</th>
              <th class="text-white" scope="col">Nombre Sitio</th>
              <th class="text-white" scope="col">Url</th>
              <th class="text-white" scope="col">Descripcion</th>
              <th class="text-white" scope="col">Disponibilidad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Facebook</td>
              <td>facebook.com</td>
              <td>Red social</td>
              <td> 
                <button type="button" class="btn btn-sm btn-success">Cambiar</button>
              </td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Youtube</td>
              <td>youtube.com</td>
              <td>Red social</td>
              <td> 
                <button type="button" class="btn btn-sm btn-danger">Cambiar</button>
              </td>
            </tr>
          </tbody>
        </table>
                 
      </div>
    </div>
</div>



