
<div class="container mt-3 animated fadeIn" >
    <div class="row">

        <div class="col-md-5 col-12 m-2" *ngFor="let blog of blogs"  >
            <a  [routerLink]="[ '/plantillaBlogs', blog._id, 'visualizar', ' ' ]" target="_blank">
                <div class="card bg-dark text-white">
                    <img class="card-img img-fluid" src="../../../assets/img/img-8.jpg" alt="Card image">
                    <div class="card-img-overlay">
                      <h5 class="card-title"> <b>{{ blog.nombre }}</b> </h5>
                      <p class="card-text"><b>{{ blog.descripcion }}</b></p>
                    </div>
                </div>
            </a>
        </div>

    </div> 
</div>

