

<div class="container mt-3 animated fadeIn" >
    <div class="row">
        <div class="col-md-5 col-12 m-2" >
            <a target="_blank" href="https://www.facebook.com">
                <div class="card bg-dark text-white">
                    <img class="card-img img-fluid" src="../../../assets/img/sitios/facebook.jpg.png" alt="Card image">
                    <div class="card-img-overlay">
                      <h5 class="card-title"> <b>Facebook</b> </h5>
                      <p class="card-text"><b>Leonard-calix</b></p>
                    </div>
                </div>
            </a>
        </div>
    
        <div class="col-md-5 col-12 m-2" >
            <a target="_blank" href="https://www.instagram.com">
                <div class="card bg-dark text-white">
                    <img class="card-img img-fluid" src="../../../assets/img/sitios/instagram.png" alt="Card image">
                    <div class="card-img-overlay">
                      <h5 class="card-title"> <b>Instagram</b> </h5>
                      <p class="card-text"><b>Leonard-calix</b></p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-5 col-12 m-2" >
            <a target="_blank" href="https://www.spotify.com">
                <div class="card bg-dark text-white">
                    <img class="card-img img-fluid" src="../../../assets/img/sitios/spotyfi.png" alt="Card image">
                    <div class="card-img-overlay">
                      <h5 class="card-title"> <b>Spotyfy</b> </h5>
                      <p class="card-text"><b>Leonard-calix</b></p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-5 col-12 m-2" >
            <a target="_blank" href="https://www.youtube.com">
                <div class="card bg-dark text-white">
                    <img class="card-img img-fluid" src="../../../assets/img/sitios/youtube.png" alt="Card image">
                    <div class="card-img-overlay">
                      <h5 class="card-title"> <b>youtube</b> </h5>
                      <p class="card-text"><b>Leonard-calix</b></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
</div>