<div class="container-fluid mt-3 animated fadeIn">

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Nuevo
  </button>
  <table class="mt-3 table table-sm table-hover">
    <thead>
      <tr >
        <th colspan="2"><small class="font-weight-bold">Nombre Usuario</small></th>
        <th scope="col"><small class="font-weight-bold">Direccion</small></th>
        <th scope="col"><small class="font-weight-bold">Eliminar</small></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usuarios" class="shadow-sm p-3">
        <td>
          <img src="../../../../assets/img/user-perfil.jpg" class="img-fluid rounded-circle avatar" alt="https://generated.photos/" />
        </td>
        <td>
          <span class="d-block">{{ user.nombre }} {{ user.apellido }}</span><small class="text-muted">{{ user.correo }}</small>
        </td>
        <td class="align-middle">
          <span class="badge">{{ user.direccion}}</span>
        </td>
        <td class="align-middle">
          <span class="badge badge-danger p-2" (click)="eliminar(user._id)" >Eliminar <i class="fas fa-trash ml-2"></i></span>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title" id="exampleModalLongTitle">Nuevo usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="">Nombre</label>
                <input name="nombre" class="form-control" [(ngModel)]="usuario.nombre" type="text" placeholder="Ingrese el nombre">
              </div>
              <div class="form-group">
                <label for="">Correo</label>
                <input name="correo" type="email" class="form-control" [(ngModel)]="usuario.correo"
                  placeholder="Ingrese el correo">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="">Apellido</label>
                <input name="apellido" class="form-control" [(ngModel)]="usuario.apellido" type="text"
                  placeholder="Ingrese el apellido">
              </div>
              <div class="form-group">
                <label for="">Direccion</label>
                <input name="direccion" type="text" class="form-control" [(ngModel)]="usuario.direccion"
                  placeholder="Ingrese la direccion">
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="">Contraseña</label>
                <input name="contrasena" type="password" class="form-control" [(ngModel)]="usuario.contrasenia"
                  placeholder="Ingrese la contrasenia">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="">Role</label>
                <input name="role" type="email" class="form-control" [(ngModel)]="usuario.role" value="admin" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="guardarAdmin()"
          data-dismiss="modal">Guardar</button>
        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>