<div class="p-5 fondo">

    <div class="container p-5 bg-light cuerpo  animated fadeIn">

        <h2 class="text-primary text-center" >
            {{ blog.nombre }}
        </h2>

        <main class="row">
            <div class="col-md-12 mb-3 mt-3 p-3">
                <img class="img-fluid rouded centrado" src="../../{{ blog.urlImagen }}" alt="blog.nombre">
            </div>
            <div class="row mb-3 mt-3 p-3">
                <div id="contenido" class="col-md-12">
                   <p *ngFor="let parrafo of informacion" class="p-2 mt-3 mb-3" >
                       {{ parrafo }}
                   </p>
                </div>
            </div>
        </main>
        <div *ngIf="blog.comentarios" class="form-group">
            <textarea class="form-control p-3" name="descripcion" #descripcion="ngModel" [(ngModel)]="comentario.descripcion" placeholder="Escribe tu comentario..." rows="3" required ></textarea>
            <div *ngIf="descripcion.errors?.required && descripcion.touched" class="mensaje-error" > <b>Campo vacio, debe de escribir un comentario para publicarlo</b> </div>
            <button  [disabled]="descripcion.errors" class="btn btn-sm btn-primary mt-3" (click)="publicar()" >Publicar</button>
        </div>
        <div *ngIf="blog.comentarios" class="form-group" >
            <h5 class="text-primary" >Comentarios</h5><br>
            <div class="list-group">
                <li *ngFor="let item of comentarios" class="list-group-item list-group-item-action"> <b><span class="text-primary mr-2" >{{ item.usuario }}</span></b> {{ item.descripcion }}</li>
              </div>
        </div>
    </div>

</div>