<div class="wrapper d-flex align-items-stretch bg-light" >
  <nav id="sidebar" style="background-color: #01579b !important ;">
    <div class="p-4 pt-5">
      <p class="text-center " > <i class="fas fa-user-tie fa-5x text-white "></i> </p>
      <p class="text-white text-center" ></p>
      <ul class="list-unstyled components mb-5"> 
        <li>
          <a routerLink="/admin/resumen" routerLinkActive="active">Resumen</a>
        </li>
        <li>
          <a routerLink="/admin/usuarios" routerLinkActive="active">Usuarios</a>
        </li>
        <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" routerLinkActive="active">Plantillas</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
            <li>
              <a routerLink="/admin/nueva" routerLinkActive="active">Nueva</a>
            </li>
            <li>
              <a routerLink="/admin/paginas" routerLinkActive="active">Guardadas</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#pageBlog" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" routerLinkActive="active">Blog</a>
          <ul class="collapse list-unstyled" id="pageBlog">
            <li>
              <a routerLink="/admin/nuevo" routerLinkActive="active">Nuevo</a>
            </li>
            <li>
              <a routerLink="/admin/blog" routerLinkActive="active">Guardadas</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#pageArchivos" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Coleccion</a>
          <ul class="collapse list-unstyled" id="pageArchivos">
            <li>
              <a routerLink="/admin/subirArchivo" routerLinkActive="active">Subir nuevo archivo</a>
            </li>
            <li>
              <a routerLink="/admin/imagenes" routerLinkActive="active">Imagenes</a>
            </li>
            <li>
              <a routerLink="/admin/videos" routerLinkActive="active">Videos</a>
            </li>
            <li>
              <a routerLink="/admin/documentos" routerLinkActive="active">Documentos</a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="/admin/comentarios" routerLinkActive="active">Comentarios</a>
        </li>
        <li>
          <a routerLink="/admin/categoria" routerLinkActive="active"> Categorias</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5">

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
        <button class="btn btn-primary d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fa fa-bars text-white"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin/perfil" routerLinkActive="active">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/index/sitios" (click)="cerrarSecion()" routerLinkActive="active">Cerrar sesion</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="Contenido" >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>















<!--
<div class="d-flex" id="wrapper">
    <div class="bg-light" id="sidebar-wrapper">
      <nav class="ml-3 navbar navbar-dark bg-light">
        <a class="navbar-brand text-primary" routerLink="/index/sitios">
          <i class="fab fa-1x fa-accusoft text-primary"></i> BloggerWeb
        </a>
      </nav>
      <div class="list-group list-group-flush" >
        <a routerLink="/admin/resumen" class="list-group-item list-group-item-action  text-primary bg-light"><i class="fa-1x text-primary mr-1 fas fa-file mr-4"></i> Resumen</a>
        <a routerLink="/admin/usuarios" class="list-group-item list-group-item-action  text-primary bg-light"><i class="fa-1x text-primary mr-1 fas fa-users mr-4"></i> Usuarios</a>
        <a routerLink="/admin/imagenes" class="list-group-item list-group-item-action  text-primary bg-light"><i class="fa-1x text-primary mr-1 fas fa-images mr-4"></i> Archivos</a>
        <a routerLink="/admin/subirImg" class="list-group-item list-group-item-action  text-primary bg-light"><i class="fa-1x text-primary mr-1 fas fa-images mr-4"></i> Subir Archivos</a>
        <a routerLink="/admin/paginas" class="list-group-item list-group-item-action  text-primary bg-light"><i class="fa-1x text-primary mr-1 fab fa-internet-explorer mr-4"></i> Paginas web</a>
        <a routerLink="/admin/blog" class="list-group-item list-group-item-action  text-primary bg-light"><i class="fa-1x text-primary mr-1 fas fa-blog mr-4"></i> Blog</a>
        <a routerLink="/admin/comentarios" class="list-group-item list-group-item-action text-primary bg-light"><i class="fa-1x text-primary mr-1 fas fa-comments mr-4"> </i> Comentarios</a>
        <a routerLink="/admin/categoria" class="list-group-item list-group-item-action text-primary bg-light"><i class="fa-1x text-primary mr-1 fas fa-comments mr-4"> </i> Categoria</a>

      </div>
    </div>
 

 
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-dark bg-light border-bottom">
        <button class="btn btn-primary btn-sm" id="menu-toggle">Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="img-perfil" src="../../../../assets/img/user-perfil.jpg" alt="">
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/admin/perfil"> <i class="fas fa-user-cog"></i> Leonard-Calix </a>
                <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Cerrar sesion</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
 

  </div>

-->

<!--
<div class="container-fluid" >
    <div class="row color-fondo" >
        <div class="col-lg-2 col-md-2 col-sm-2 p-3" >
            <ul class="list-group list-group-flush"  >
                <a routerLinkActive="link-activo" routerLink="/admin"><li class="bg-dark text-white list-group-item">Home</li></a>
                <a routerLinkActive="link-activo" routerLink="/admin/imagenes"><li class="bg-dark text-white list-group-item">Imagenes</li></a>
                <a routerLinkActive="link-activo" routerLink="/admin/subirImg"><li class="bg-dark text-white list-group-item">Subir imagenes</li></a>                
                <a routerLinkActive="link-activo" routerLink="/usuario"><li class="bg-dark text-white list-group-item">Usuarios</li></a>
                <a routerLinkActive="link-activo" routerLink="/paginas"><li class="bg-dark text-white list-group-item">Paginas</li></a>
                <a routerLinkActive="link-activo" routerLink="/paginas"><li class="bg-dark text-white list-group-item">Crear paginas</li></a>
                <a routerLinkActive="link-activo" routerLink="/blog"><li class="bg-dark text-white list-group-item">Blog</li></a>
                <a routerLinkActive="link-activo" routerLink="/blog"><li class="bg-dark text-white list-group-item">Crear Blog</li></a>
                <a routerLinkActive="link-activo" routerLink="/admin/comentarios"><li class="bg-dark text-white list-group-item">Comentarios</li></a>
            </ul>
        </div>
        <div class="col-lg-10 col-md-10 rounded p-3" >
            <nav class="navbar navbar-dark bg-dark pt-2 pb-2 rounded" >
                <a class="navbar-brand">Titulo sitio</a>
                <div class="form-inline">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" (keyup.enter)="buscar(termino.value)" #termino>
                  <button class="btn btn-outline-secondary my-2 my-sm-0" type="button">Search</button>
                </div>
              </nav>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
-->
