<div class="container-fluid mt-4 animated fadeIn">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-6">
        <div class="card border-dark" style="max-width: 18rem;">
          <div class="card-header">Usuarios</div>
          <div class="card-body text-dark">
          <h5 class="card-title">25</h5>
          <p class="card-text">Usuarios registrados</p>
      </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6">
        <div class="card border-dark" style="max-width: 18rem;">
        <div class="card-header">Paginas web</div>
        <div class="card-body text-dark">
          <h5 class="card-title">25</h5>
          <p class="card-text">Sitios web</p>
        </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6">
        <div class="card border-dark " style="max-width: 18rem;">
        <div class="card-header">Blog</div>
        <div class="card-body text-dark">
          <h5 class="card-title">10</h5>
          <p class="card-text">blogs</p>
        </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6">
        <div class="card border-dark" style="max-width: 18rem;">
        <div class="card-header">Comentarios</div>
        <div class="card-body text-dark">
          <h5 class="card-title">3500</h5>
          <p class="card-text">Comentarios</p>
        </div>
      </div>
      </div>
    </div>
  </div>
<br>


