<section class="text-center animated fadeIn">
  <br><br><br>
  <div  class="form-signin bg-white rounded mt-5">
    <i class="fab fa-4x fa-accusoft mb-3 text-primary"></i><br><br>

    <label for="inputEmail" class="sr-only">Correo electronico</label>
    <input type="email" [(ngModel)]="correo"  name="correo" placeholder="Correo electronico"  required><br><br>

    <label for="inputPassword" class="sr-only">Contrasenia</label>
    <input type="password" [(ngModel)]="contrasenia"  name="contrasenia" placeholder="Contrasenia" required>

    <div *ngIf="error" class="alert alert-danger" role="alert">
      Contraseña o usuario incorrecto
    </div>


    <div class="custom-control custom-checkbox my-1 mr-sm-2" style="float: left;"><br>
      <input type="checkbox" class="custom-control-input" id="customControlInline">
      <label class="custom-control-label" for="customControlInline">Recordarme</label>
    </div><br>
    <button type="button" class="btn btn-primary btn-block mt-5" (click)="login()" >Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    <br><br><br>

  </div>
</section>
